                    <h1>Общественный Парк отдыха деревни. Галлерея.</h1>

                <br>
                <img src="{{ url_for('static', filename='img/park/park(1).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(2).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(3).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(4).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(5).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(6).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(7).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(8).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(9).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(10).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(11).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(12).jpeg') }}" class="small-image" onclick="expandImage(this)">    
                <br>
                <img src="{{ url_for('static', filename='img/park/park(13).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(14).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(15).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(16).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(17).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(18).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(19).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(20).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(21).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(22).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(23).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(24).jpeg') }}" class="small-image" onclick="expandImage(this)">   
                <br>
                <img src="{{ url_for('static', filename='img/park/park(25).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(26).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(27).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(28).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(29).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(30).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(31).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(32).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(33).jpeg') }}" class="small-image" onclick="expandImage(this)">    
                <br>
                <img src="{{ url_for('static', filename='img/park/park(34).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(35).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(36).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(37).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(38).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(39).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(40).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(41).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(42).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(43).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(44).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(45).jpeg') }}" class="small-image" onclick="expandImage(this)">   
                <br>
                <img src="{{ url_for('static', filename='img/park/park(46).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(47).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(48).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(49).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(50).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(51).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(52).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(53).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(54).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(55).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(56).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(57).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(58).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/park/park(59).jpeg') }}" class="small-image" onclick="expandImage(this)">