                    <h1>ГОРДОСТЬ ВОЛОЧАНОВО - ОБЪЕКТЫ СОЗДАННЫЕ РУКАМИ ЖИТЕЛЕЙ ДЕРЕВНИ</h1>

                <p>Плотина Волочаново и её история.</p>
                <p>Деревня Волочаново, расположенная в городском округе Шаховская, столкнулась с серьезной проблемой, когда почти 30 лет назад власти решили спустить плотину из-за проблем с канализацией.
                Оказалось, что неисправные канализационные сооружения загрязняли водоем, и ремонт их был необходим параллельно с восстановлением плотины. Однако в стране начались экономические трудности, и не хватило средств на ремонт и очистку.</p>
                
                <img src="{{ url_for('static', filename='img/pound/29(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>Ситуация изменилась в 2017 году, когда на сходе деревни обсуждались общественно-значимые вопросы, включая восстановление плотины. Глава городского округа Шаховская, г-н Гаджиев Замир Агарзаевич, и начальник территориального отдела, г-н Кондауров Андрей Викторович, присутствовали на этом собрании. Население единогласно поддержало инициативу восстановления.</p>

                <p>Была сформирована инициативная группа из примерно 30 человек, которая приступила к работам 27 марта 2017 года. Они начали с расчистки котлована от дикой поросли, что потребовало более 20 субботников для вырубки ивового сорняка.</p>
                <br>
                <img src="{{ url_for('static', filename='img/pound/26(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>Затем была проведена чистовая доработка котлованов, усиление дамб и устройство берегов. Для этого использовались тяжелая техника, включая бульдозер и гусеничный экскаватор. Заполнение плотины и создание каналов для сброса воды заняли всего три месяца, учитывая, что в котловане действовало более тридцати водных ключей.</p>

                <p>Работы продолжались более двух лет, и в результате плотина была успешно восстановлена. Теперь это место уже полюбили дикое птичье население и рыбаки, создавая приятную атмосферу для отдыха и рыбной ловли.</p>
                <br>
                <img src="{{ url_for('static', filename='img/pound/24(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/pound/25(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/pound/28(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='img/pound/27(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
