<a onclick="menu()" id="green-arrow-link" style="text-decoration: none;display: block;width: 50px;">
    <div class="green-arrow" >
        <img class="arrow" src="{{ url_for('static', filename='map/img/arrow.png') }}">
    </div>
</a>