                    {% include 'map/components/arrow.html.j2' %}
                    <h1>ЧАСОВНЯ ВОЛОЧАНОВО</h1>

                <p>Часовня заложенная жителями Волочаново.</p>
                <p>10 ноября 2007 года жителями д. Волочаново была заложена новая деревенская часовня. Строительство Часовни породолжалось силами и за счет добровольного участия жителей деревни до января 2016 года. 15 января 2016  года часовня освящена в честь сщмч. Алексия (Никологорского) и приписана к храму Воскресения Словущего д. Волочаново.</p>
                
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(1).jpeg') }}" class="small-image" onclick="expandImage(this)">

                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(4).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(6).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(10).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(5).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(7).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(2).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(3).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(8).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(9).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/index.jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(12).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/chapel/chapel(13).jpeg') }}" class="small-image" onclick="expandImage(this)">