                     {% include 'map/components/arrow.html.j2' %}
                     <h1>ЛИПОВАЯ АЛЛЕЯ.</h1>
                <p>Липовая аллея посажена Семьей Шереметевых 1826-1829 г.г.</p>
                <br>
                <img src="{{ url_for('static', filename='map/img/park/index.jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/linden_alley/linden_alley(2).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/linden_alley/linden_alley(3).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/linden_alley/linden_alley(4).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/linden_alley/linden_alley(5).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/linden_alley/linden_alley(6).jpeg') }}" class="small-image" onclick="expandImage(this)">
                