                    {% include 'map/components/arrow.html.j2' %}
                    <h1>ПАРК ОТДЫХА ДЕРЕВНИ.</h1>

                <p>В деревне Волочаново (бывшая усадьба графской семьи Шереметевых) городской округ Шаховская в 1826-1829 г.г. семьей Шереметевых был создан общественный Парк отдыха жителей деревни. 
                Причем предназначение созданного парка семьей Шереметевых (что, не является нашим предположением), это исторический факт – именно для отдыха жителей деревни.
                </p>
                
                <img src="{{ url_for('static', filename='map/img/park/park(1).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>Еще один исторический факт: Шереметевы заботились о своих крестьянах, только из-за того, что бы жители деревни не ходили несколько километров в церковь, а тогда не было автобусов, Шереметевы построили в Волочаново в тот же период 1826-1829 г.г собственную церковь. 
                В 40-х годах церковь была руинирована и жители деревни за свой счет в течении 7-ми лет построили с той же целью изумительную собственную часовню с регулярным с 2016 года богослужением Русской Православной Церкви.
                </p>

                <p>Как Вы смогли убедиться, в Волочаново живут дееспособные, активные и небезразличные к проблемам деревни жители, способные решать любые задачи благополучия и благоустройства своей малой Родины – деревни Волочаново.
                Жители деревни давно дали название данному месту - «Парк Шереметевых в д. Волочаново».
                Сегодня это уникальная зона используется жителями деревни Волочаново и окрестных деревень (Рябинки, Малинки, Красный Берег, Бушуевка, Борисовка) как зона отдыха и прогулок. 
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(2).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>Однако парковая территория естественным образом до 2023 года зарастала кустарником, некоторые деревья из-за возраста высыхали и уже сухими, возможностью своего падения, потенциально несли угрозу жизни и здоровья жителей деревни. 
                Данная парковая зона находится внутри земель населенного пункта и не связана с лесом, окружающим деревню Волочаново, однако по картам Комитета лесного хозяйства Московской области была отнесена к категории «лес в деревне».
                </p>

                <p>Естественно, напрашивался вопрос, если это территория отнесенная к ведению Комитета лесного хозяйства Московской области не известно с каких годов, почему весь период его нахождения в составе лесного хозяйства не принимались самые минимальные по затратам меры его санитарной очистки, хотя бы от валежника и сухостоя?
                Требуемые работы по очистке парка от зарослей кустарника и сухих деревьев жители деревни на протяжении ряда лет планировали провести собственными силами, т.е. самостоятельно, но поскольку эти работы связаны с удалением зеленых насаждений (кустарника) Мы не хотели благое дело превращать в ряд административных правонарушений, а соответственно исков, в соответствии с действующим законодательством, к жителям со стороны Комитета лесного хозяйства Московской области.
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(3).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <p>Ситуация по состоянию на 2023 год была парадоксальная:
                - забота об организации отдыха и досуга жителей (подмосковных населенных пунктов) и членов их семей, находящаяся в приоритете у Губернатора Московской области, не моглы быть организована на должном уровне из-за некорректной квалификации категории земельного участка;
                -имея собственный парк, имея возможности по его очистке от кустарниковой поросли и сухостоя, имея желание сделать этот участок местом гордости жителей 6-ти деревень Мы ранее не могли организовать работы по его очистке и соответствию первоначальному замыслу его создателей.
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(4).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <p>Исходящим от 18 августа 2022 года № 016 д. Волочаново обратилась к Главе Городского округа Шаховская с просьбой, до решения вопроса возможного участия в государственной программе «Парки в лесу», дать разрешение на расчистку участка с кадастровым номером 50:06:0050202:541, находящего внутри территории деревни и по документам ЕГРН является собственностью Городского округа Шаховская.
                Благодаря изменениям законодательных нормативных актов Мы получили необходимые права по приведению в порядок Нашего Парка, что и было сделано.
                Указанные работы произведены собственными силами и собственной техникой жителей деревни Волочаново в 2023 году.
                Жители деревни дали название данному месту - «Парк Шереметевых в д. Волочаново».
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(9).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <p>И сегодня это уникальная убранная и облагороженная парковая зона используется жителями деревни Волочаново и окрестных деревень (Рябинки, Малинки, Красный Берег, Бушуевка, Борисовка) как зона отдыха и прогулок. 
                Местными энтузиастами поддерживается чистота и порядок. 
                Сегодня это Волочановский Петергоф.
                </p>          
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(6).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(20).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(25).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(30).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(44).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/park/park(29).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
