                    {% include 'map/components/arrow.html.j2' %}
                    <h1>КАСКАД ПРУДОВ ВОЛОЧАНОВО И ИХ ИСТОРИЯ.</h1>

       
                <p>Почти 30 лет назад власти решили почистить нашу плотину. Для этого плотина была спущена. Как нам объяснили, причиной стали нечистоты попадающие в плотину из неисправного канализационного сооружения, ремонт которого хотели провести параллельно с очисткой плотины. Но как раз в то время в стране стали происходить большие перемены грянул дефолт, настал экономический кризис и т. д. В результате средств на очистку и восстановление плотины, а также ремонт канализации у властей не нашлось, но помогли жители деревни за счет своих личных средств.</p>
                
                <img src="{{ url_for('static', filename='map/img/pound/29(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>Каждый новый глава поселения обещал деревне закончить работы по восстановлению плотины, но время шло, а плотина зарастала ивой и сорняками.
                25 марта 2017 г. состоялся сход деревни Волочаново. На сходе обсуждали общественно-значимые вопросы, присутствовали глава г/о Шаховская Гаджиев Замир Агарзаевич и начальник Степаньковского территориального отдела Кондауров Андрей Викторович. 
                Одним из первых обсуждался вопрос об очистке и восстановлению плотины. Население деревни всеобще поддержало эту инициативу. В итоге решили очистить и восстановить плотину. 
                </p>

                <p>Ответственным за восстановление плотины назначили Бородина Р.О.
                27 марта 2017 г. инициативная группа состоящая примерно из 30 человек приступили к выполнению работ по расчистке плотины.
                Работы состояли из нескольких этапов:
                1. Расчистка котлована плотины от дикой поросли. Так как котлован плотины сильно зарос дикой ивой, нам понадобилось организовать более 20 субботников для выпиливания и корчевания ивового сорняка.
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/pound/24(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
                <p>2. Чистовая доработка котлованов, усиление дамб и устройство берегов. Для этого была привлечена тяжелая техника, бульдозер ЧТЗ Т-130 и гусеничный экскаватор HYUNDAI.</p>

                <p>3. Заполнение плотины, устройство каналов для сброса лишних объёмов воды. Учитывая то, что в котловане плотины действует более тридцати водных ключей заполнение основного водоёма заняло всего 3 месяца.
                В общем работы продолжались более двух лет. Кстати нашу плотину уже облюбовали дикие утки и рыбаки. 
                </p>
                <br>
                <img src="{{ url_for('static', filename='map/img/pound/26(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/pound/index.jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/pound/28(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                <br>
                <img src="{{ url_for('static', filename='map/img/pound/27(plotina).jpeg') }}" class="small-image" onclick="expandImage(this)">
                
