                    {% include 'map/components/arrow.html.j2' %}
                    <h1>ДЕРЕВЕНСКИЙ МАГАЗИН ВОЛОЧАНОВО</h1>

                    <p>Деревенский магазин Волочаново – общественное место где жители деревни могут всегда приобрести товары повседневной необходимости и обсудить деревенские новости. Заведующая магазином Тихонова Елена Семеновна заботится как о взрослых жителях деревни, цены в деревенском магазине по многим товарам ниже чем в соседних деревнях, сказывается участие нашего магазина в торговой сети «Авокадо», так и о наших маленьких волочановцах – Елена Семеновна один из наших традиционных спонсоров деревенских праздников и субботников. </p>
                    <br>
                    <img src="{{ url_for('static', filename='map/img/shop/index.jpeg') }}" class="small-image" onclick="expandImage(this)">
                    <br>
                    <img src="{{ url_for('static', filename='map/img/shop/30(shop).jpeg') }}" class="small-image" onclick="expandImage(this)">
                    <br>
                    <img src="{{ url_for('static', filename='map/img/shop/31(shop).jpeg') }}" class="small-image" onclick="expandImage(this)">
                    <br>
                    <img src="{{ url_for('static', filename='map/img/shop/33(shop).jpeg') }}" class="small-image" onclick="expandImage(this)">
