<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Деревня Волочаново</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='village/favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='village/style.css')}}">
</head>
<body>
    
    {% include 'village/components/header.html' %}

    <header class="image-header" style="background-image: url('{{ url_for('static', filename='village/img/header.jpg') }}');">
       
    </header>

    <div class="container">
        <section class="description">
   
            <h1>ГЕРАЛЬДИКА ДЕРЕВНИ ВОЛОЧАНОВО</h1>

            <img src="{{ url_for('static', filename='village/img/herb.jpg') }}" class="small-image" onclick="expandImage(this)">
            <br>
            <img src="{{ url_for('static', filename='village/img/23.jpg') }}" class="small-image" onclick="expandImage(this)">

            <p>Герб и флаг деревни Волочаново, созданы Федотовым В.А. и воплощены в художественном выражении санкт-петербугрской художницей Сорокиной Анной Вадимовной.</p>


            <p>Герб деревни:</p>
            <p>При создании герба максимально учтены исторические особенности создания (появления) деревни Волочаново как волока (переходного пути от реки Дёржа в реку Белую сухопутным путем) и как укрепленного городка созданного новгородцами для защиты и обороны сухопутного пути, преодолеваемого речными судами из реки в реку.</p>

            <p>Синий цвет левой половины герба, символизирует речную составляющую судоходного пути волока, стилизованное изображение речного корабля соответствует рисунку русского речного судна XIII-XVв.в.</p>

            <p>Зеленый цвет правой половины герба, символизирует сухопутную составляющую пути, преодолеваемого речными судами из реки в реку и предназначение укрепленного городка Волочаново по охране и обороне волока и судов во время их сухопутного движения.</p>

            <p>В качестве символа характеризующего оборону и охрану, взят лев вооруженный мечом на красном фоне с герба бывших владельцев Волочаново – графов Шереметевых.</p>

            <p>В верхней части герба цифрами обозначен год основания деревни 1513, на стилизованной белой ленте.</p>

            <p>Обрамление герба золотистый обод украшенный по бокам герба.</p>

                <br>

            <p>Флаг деревни:</p>

            <p>При создании флага, также, максимально учтены исторические особенности создания (появления) деревни Волочаново как волока (переходного пути от реки Дёржа в реку Белую сухопутным путем) и как укрепленного городка созданного новгородцами для защиты и обороны сухопутного пути, преодолеваемого речными судами из реки в реку.</p>

            <p>Синий цвет левой половины герба, символизирует речную составляющую судоходного пути волока, стилизованное изображение речного корабля соответствует рисунку русского речного судна XIII-XVв.в.</p>

            <p>Зеленый цвет правой половины герба, символизирует сухопутную составляющую пути, преодолеваемого речными судами из реки в реку и предназначение укрепленного городка Волочаново по охране и обороне волока и судов во время их сухопутного движения.</p>

            <p>В качестве символа характеризующего оборону и охрану, взят лев вооруженный мечом на красном фоне с герба бывших владельцев Волочаново – графов Шереметевых.</p>

            <p>Обрамление флага золотистая бахрома.</p>

            <p>Кроме того в левом верхнем углу флага найдут отражения атрибуты территориально-административных образований по месту нахождения деревни Волочаново:</p>

            <p>-герб  Московской области;</p>

            <p>-герб Шаховской;</p>

            <p>-герб Степаньковского сельского поселения.</p>

            

    
        </section>
    </div>

{% include 'village/components/footer.html' %}
</body>
<script src="{{ url_for('static', filename='village/photo.js') }}"></script>
</html>
