body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.feedback-box {
    background-color: #56a85b;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.212);
}

.feedback-box h3 {
    margin-top: 0;
}

.feedback-box p {
    margin: 5px 0;
}

.delete-form button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-form button:hover {
    background-color: #333;
}